
<div class="col-md-12 mt-2">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3>
        Selected Account Details
      </h3>
    </div>
    <div class="panel-body">
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Nickname</th>
              <th>Account Type</th>
              <th>Account Number</th>

            <tbody>
           
              <tr>
                <td><%= @pay_account.nickname %></td>
                <td><%= @pay_account.account_type.humanize %></td>
                <td>
                  <%= @pay_account.account_number %>
                </td>
                <td>
              
                  
        
                </td>
              </tr>
          </tbody>
          </table>

          <%= link_to "Back to all accounts", pay_accounts_path %>
      </div>
    </div>
  </div>
</div>

